name: sync

on:
    schedule:
        - cron: "0 04 * * *" # 12:00
        - cron: "0 08 * * *" # 16:00
    workflow_dispatch:

jobs:
    build:
        runs-on: macos-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Run Main
              env:
                  REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
                  MESSAGE_ENDPOINT_URL: ${{ secrets.MESSAGE_ENDPOINT_URL }}
                  MESSAGE_TOKEN_NAME: ${{ secrets.MESSAGE_TOKEN_NAME }}
                  MESSAGE_TOKEN: ${{ secrets.MESSAGE_TOKEN }}
                  GITHUB_ACTOR: ${{ github.actor }}
                  GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
              run: |
                  chmod +x deps.sh
                  chmod +x sync.sh
                  ./deps.sh
                  ./sync.sh
